<div class='header-container'>
    <div class='logo'>
        <a href='index.html'>
            <img src='/images/logos/nook-logo.jpg' alt='Nook Logo' class='logo-image'>
        </a>
    </div>

    <nav class='nav-desktop'>
        <a href='/dashboard/index.html'>Dashboard</a>
        <a href='/goals/index.html'>Goals</a>
        <a href='/journal/index.html'>My Journal</a>
        <a href='/notes/index.html' class='notes-btn'><span class='accent-plus'>+</span> Notes</a>
        <a href="/login/index.html" id="login-auth" class="auth-icon" title="Login / Profile">Login</a>
    </nav>

    

    <button class='hamburger-menu-btn' aria-label='Toggle Menu'>
        ☰
    </button>
</div>

<nav class='nav-mobile hidden'>
    <a href='/dashboard/index.html'>Dashboard</a>
    <a href='/goals/index.html'>Goals</a>
    <a href='/journal/index.html'>My Journal</a>
    <a href='/notes/index.html' class='notes-btn'><span class='accent-plus'>+</span> Notes</a>
    <a href="/login/index.html" id="login-auth" class="auth-icon" title="Login / Profile">Login</a>
</nav>